In [8]:
import numpy as np
import pandas as pd
df=pd.read_csv("C:/Users/LENOVO/Downloads/drinks.csv")

ModuleNotFoundError: No module named 'numpy'

In [9]:
df.head()

NameError: name 'df' is not defined

In [ ]:
##1. How many continents are there in Drinks

In [8]:
df.dropna(inplace=True)
len(d['continent'].unique())

6

In [ ]:
##What is the country wise Life expectancy average.

In [2]:
ef=pd.read_csv("C:/Users/LENOVO/Downloads/Life Expectancy Data.csv")

NameError: name 'pd' is not defined

In [10]:
ef.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [1]:
ef1=ef[['Country','Life expectancy	']]
ef1.groupby('Country').mean().head()

NameError: name 'ef' is not defined

In [ ]:
##What is the Total beer_servings & wine_servings.

In [21]:
x=df[['country','beer_servings','spirit_servings','wine_servings','Life expectancy']]
x1=x.groupby('country').max()

KeyError: "['Life expectancy'] not in index"